 <!-- ***** Preloader Start ***** -->
 <div id="preloader">
  <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>  
<!-- ***** Preloader End ***** -->


 <header1></header1>

  <banner></banner>
  

<!-- Banner Ends Here -->

<div  class="latest-products">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading">
        <h2 >Latest Products</h2>
        <a name="product" href="products.html">view all products <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
    
    <products class="col-md-4"  *ngFor="let p of prodData" [title]="p.title" [image]="p.image" [price]="p.price"></products>
  </div>
</div>
</div>

<!-- about Paramedic Emergency -->
<div class="best-features">
<div  name="aboutus" class="container">
  <about></about>
</div>
</div>

<!-- Purchase now section -->

<div class="call-to-action">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="inner-content">
        <div class="row">
          <div class="col-md-8">
            <h4> Unique <em>Paramedic</em> Products</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
          </div>
          <div class="col-md-4">
            <a href="#" class="filled-button">Purchase Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<footer>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="inner-content">
        <p>Copyright &copy; 2022 Paramedic Emergency 
      
      - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
      </div>
    </div>
  </div>
</div>
</footer>