<div class="product-item">
    <a  href="#"><img [src]="image" alt=""></a>
    <div class="down-content">
      <a href="#"><h4>{{title}}</h4></a>
      <h6>{{price | currency}}</h6>
      <p></p>
      <ul class="stars">
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <span>Reviews (24)</span>
    </div>
  </div>